.container {
  display: flex;
  border: solid 0.0625rem gray;
  background-color: #ECECEC;
  width: 70%;
  align-items: center;
  justify-content: center;
  padding: 0 3.8rem;
  margin: 7rem 5rem 5rem 9rem;
}

.item {
  font-style: Roboto Mono;
  font-family: monospace;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.item-1 {
 flex-grow: 3;

}

.item-2 {
 flex-grow: 0.7;
}

.item-3 {
 flex-grow: 0.7;
}

.item-4 {
  flex-grow: 0.7;
}
