.container {
width: 65rem;
height: 4.5rem;
border: solid 0.0625rem gray;
display: flex;
align-items: flex-end;
justify-content: flex-end;
margin-left: 10rem;
margin-top: 5rem;
}

.item-1 {
  background-color: #5DBCD2;
  color: #FFFFFF;
  font-size: 1.8rem;
  border-left: solid 0.0625rem gray;
  height: 4.5rem;
  width: 8rem;
  letter-spacing: 0.1rem;
  font-style: Roboto Mono;
  font-family: monospace;

}
